<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApiBase</key>
	<string>$(API_BASE2)</string>
	<key>ApiKey</key>
	<string>$(API_KEY)</string>
	<key>ImageBaseUrl</key>
	<string>$(IMAGE_BASE_URL)</string>
	<key>UIAppFonts</key>
	<array>
		<string>SF-Pro-Display-Bold</string>
		<string>SF-Pro-Text-Medium</string>
		<string>SF-Pro-Text-Bold</string>
		<string>SF-Pro-Text-Regular</string>
	</array>
</dict>
</plist>
